@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background-image: linear-gradient(to bottom, #060606, #2C2A2A);

}

.grecaptcha-badge {
    bottom: 60px !important;
}